body {
    background-image: linear-gradient(white, antiquewhite);
    height: 100vh;
    box-sizing: border-box;
}

dialog {
    background-color: white;
    padding: 5vh 10vh;
    margin: 20% auto;
    height: 30%
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: grid;
    gap: 1ch;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5ch;
    letter-spacing: 1ch;
    color: gray;
}

.container {
    display: grid;
    justify-content: center;
    gap: 5vh;
}

.gameboard {
    height: 60vh;
    aspect-ratio: 1 / 1;
    justify-self: center;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.cell {
    border: lightgray 0.3ch;
}

.cell1 { 
    border-style: none solid solid none; /*top, right, bottom, left*/
}

.cell2 { 
    border-style: none solid solid solid; /*top, right, bottom, left*/
}

.cell3 { 
    border-style: none none solid solid; /*top, right, bottom, left*/
}

.cell4 { 
    border-style: solid solid solid none; /*top, right, bottom, left*/
}

.cell5 { 
    border-style: solid; /*top, right, bottom, left*/
}

.cell6 { 
    border-style: solid none solid solid; /*top, right, bottom, left*/
}

.cell7 { 
    border-style: solid solid none none; /*top, right, bottom, left*/
}

.cell8 { 
    border-style: solid solid none solid; /*top, right, bottom, left*/
}

.cell9 { 
    border-style: solid none none solid; /*top, right, bottom, left*/
}

.cell-button {
    background-color: rgba(0,0,0,0);
    border-style: none;
    height: 100%;
    width: 100%;
}

.cell-button:hover {
    --player-color: lightpink;
    --player-marker: url('imgs/x.svg');
    background-color: var(--player-color);
    background-image: var(--player-marker);
    background-size: cover;
    opacity: 0.3;
}

.x {
    background-color: lightpink;
    background-image: url(imgs/x.svg);
    background-size: cover;
    opacity: 0.7;
}

.o {
    background-color: lightblue;
    background-image: url(imgs/o.svg);
    background-size: cover;
    opacity: 0.5;
}

.button {
    border: solid gray 0.1ch;
    color: gray;
    background-color: white;
    padding: 1ch;
    margin: 2ch 0ch 0ch;
    width: fit-content;
    justify-self: center;
}

.button:hover{
    border: solid gray 0.3ch;
    background-color: wheat;
}